{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="row">
        {% for post in posts %}
            <div class="col-4">
                <article>
                    <div class="card" style="width: 18rem;">
                        {% if post.imageName %}
                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="card-img-top" alt="Cover {{ post.title }}">
                        {% endif %}
                        <div class="card-body">
                            <a class="card-title" href="{{ path('show', {id: post.id}) }}"><h1>{{ post.title | capitalize }}</h1></a>
                            <p class="card-text">
                                {{ post.summary }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

