{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.publishedAt| date('d/m/y H:i') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    <div class="jumbotron">
        <p class="mb-0"> Summary : {{ post.summary }}</p>
    </div>

    {{ post.content | markdown_to_html }}
{% endblock %}

{% block sidebar %}
    {% if is_granted('POST_MUTATE', post) %}
        <div class="section">
            <a href="{{ path('admin_blog_edit', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-edit" aria-hidden="true"></i> Edit
            </a>
        </div>

        <div class="section">
            {{ include('admin/blog/_delete_form.html.twig', {post: post}, with_context = false) }}
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
